<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-4">
  <% @study_materials.each do |material| %>
    <div class="bg-gray-950 rounded-lg overflow-hidden border border-gray-800">
      <div class="p-12">
        <h2 class="text-xl font-semibold text-gray-4500">
          <%= material.subject %>
        </h2>

        <p class="text-sm text-gray-600 mb-4">
          (<%= material.material_type.capitalize %>)
        </p>

        <p class="text-gray-500">
          <%= material.description %>
        </p>

        <div class="mt-4 text-sm text-gray-500">
          <p><strong>Total Pages:</strong> <%= material.total_pages || "N/A" %></p>
          <p><strong>Pages Read:</strong> <%= material.pages_read || "0" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>