<!DOCTYPE html>
<html class="dark">
  <head>
    <title><%= content_for(:title) || "Flow Mode" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= tag.link rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white dark:bg-black">
    <header class="border-b-1 border-indigo-900 py-3">
      <div class="container mx-auto px-4 flex justify-between items-center">
        <a href="/" class="text-xl text-indigo-600 hover:text-indigo-800"> FlowMode </a>
        <div>
          <%= button_to session_path, method: :delete, class: "text-indigo-600 hover:text-indigo-800 cursor-pointer" do %>
            <i class="fas fa-sign-out-alt" title="Log out"></i>
          <% end %>
        </div>
      </div>
    </header>

    <main class= "text-gray-200 container mx-auto mt-8">
      <%= yield %>
    </main>
  </body>
</html>
